body {
  height: 64rem;
  background-color: #212529 !important;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.number {
  font-size: 20px;
  font-weight: 500;
  color: #e83e8c;
}

.header_title {
  color: #fff;
  text-align: center;
  margin-left: 15%;
}
.container {
  padding: 0;
  margin: 0;
}

.note {
  color: red;
  padding: 0;
  margin: 0;
}

.article-container {
  display: grid;
  background: grey;
  align-items: center;
  height: 100%;
  width: 100vw;
  padding: 0;
  grid-template-columns: 1fr;
  justify-items: center;
}

.image {
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: relative;
}

.text {
  text-align: center;
  background-color: #212529;
  color: #fff;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  width: 95%;
  font-size: 1.3em;
  overflow-wrap: break-word;
  position: relative;
}

.image:nth-of-type(4) {
  background: blue;
}

@media screen and (min-width: 625px) {
  img {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  img {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  img {
    width: 100%;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .article-container {
    display: grid;
    background: grey;
    height: 100%;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
  }
  .text:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .text {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    width: 95%;
    height: 95%;
    font-size: 1.2em;
  }

  #text3 {
    height: 100%;
    margin-bottom: 2%;
  }
  .info {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}

.info {
  margin: 15px;
}

.modal-content {
  width: 100vh;
  overflow: auto;
  right: 50%;
}
